.authForm {
    width: 25rem;
    height: 27rem;
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0;
    position: relative;
    top: 2em;
    z-index: 20;
    border-width: 2px;
    border-color: rgb(54, 54, 54);
    border-style: solid;

}

.form_title {
    text-align: center;
 }


.authForm > h1{
    font-size: 3rem;
    align-self: flex-start;
    margin: 0 2.5rem;
    color: rgb(106,90,205);
}


.input {
    position: relative;
    border-style: none none solid none;
    border-color: black;
    background-color: rgb(15, 15, 15);
    width: 20rem;
    padding: 0.5em 0;
    font-size: 1.25rem;  
    transition: 0.25s;
}

.input:focus {
    border-color: rgb(106,90,205);
}

input {
    all: unset;
}

