.button {
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    height: 100%;
    width: 47.5%;
    padding: 3% 0;
    text-align: center;
    position: relative;
    transition: 0.3s;
    bottom: 0;
}

.button:hover {
    bottom: 5px;
    box-shadow: 3px 5px black;
    background-color: skyblue;
}

a, a:visited{
    all:unset;

}

