.nav {
    height: 70px;
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: row;
    align-items: center;

}

.editorContainer {
    height: 100%;
    width: 50%;
    overflow-y: scroll;
    background-color: rgb(7,6,32);
}

.logout {
    margin-left: auto;
    margin-right: 10px;
    height: 70%;
}

.navItem {

    margin: 0 20px;
    height: 70%;
}

.nav > h1 {
    margin: 0 20px;
    cursor: pointer;
}

iframe {
    width: 50%;
    height:100%;
    background-color: black;
}

.ide {
    
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
}

.inviteModal {
    position: fixed;
    top: calc(50% - 10rem);
    left: calc(50% - 25rem);
    background-color: rgb(15, 15, 15);
    border-color: rgb(54, 54, 54);
    height: 20rem;
    width: 50rem;
    border-width: 2px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;

}

.modalTextarea {
    border-style: none none solid none;
    border-color: black;
    background-color: rgb(15, 15, 15);
    width: 20rem;
    font-size: 1.25rem;
    transition: 0.25s;
    overflow: hidden;
    resize: none;
    margin: auto;
    
}

.modalTextarea > textarea {
    all: inherit;
    background: none; 
    border: none; 
    outline: none; 
    width: 100%;
    height: 100%; 
    resize: none; 
}

.modalTextarea:focus-within {
    border-color: rgb(106, 90, 205);
}

.modalTitle{
    margin: 0;
}