@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.home_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    margin: auto;
    position: relative;
    z-index: 1;
    
}


.button_list {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}



