.project_list_container {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    float: right;
    margin: 0 auto;
}

.project_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: rgb(15, 15, 15);
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-width: 2px;
    width: 50rem;
    height: 5rem;
    margin: 1rem 0;
    border-radius: 10px;  
    cursor: pointer;
}

h1 {
    margin: 2.5rem 0;
    font-size: 3rem;
    color: rgb(106,90,205);
    font-weight: 300;

}

.icon {
    width: 4rem;
    margin: 0.5rem;
    flex: 0 0 auto;
    position: relative;
}

.subicon {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0.25rem;
    border-color: rgb(54, 54, 54);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px; 
    transition: 0.5s;
}

.subicon:hover {
    background-color: red;
}

.inviteIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: 1rem;
    width: 6rem;
    border-color: rgb(54, 54, 54);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px; 
    color: rgb(54, 54, 54);
    height: 3rem;
    transition: 0.25s;
    text-align: center;
    font-size: 1.25rem;
}

.inviteIcon:hover {
    color: rgb(106,90,205);
    border-color: rgb(106,90,205);
}

.inviteCard > h2 {
    margin-bottom: 0.25rem;
    margin-left: 0; 
}

h2 {
    color:rgb(106,90,205);
    margin: 0rem 1rem;
}



.remove {
    background-color: red;
}

.cardEnter {
    opacity: 0;
}
.cardEnterActive {
    opacity: 1;
    transition: 200ms;
}
.cardExit {
    opacity: 1;
    transform: translateX(0);
}
.cardExitActive {
    opacity: 0;
    transform: translateX(10rem);
    transition: 200ms;
}

.menu {
    height: 100%;
    background-color: rgb(15, 15, 15);
    width: 30rem;
    border-color: rgb(54, 54, 54);
    border-right-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.menu > button, .menu > .logout > button {
    margin-top: 1rem;
}

.wrapper {
    height: 100%;
    align-items: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.inviteMenu {
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-width: 2px;
    margin-top: 5%;
    height: 95%;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inviteContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 5%;
}

.logout {
    margin-top: auto;
}


.inviteCard {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(54, 54, 54);
    height: 7rem;
    padding: 0 1rem;
    width: 100%;
}

.inviteCard > p {
    color: gray;

}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttonContainer > button {
    cursor: pointer;
    position: relative;
    bottom: -1rem;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    width: 40%;
    height: 2rem;
    transition: 0.25s;
}

.buttonContainer > button:hover {
    bottom: -0.75rem;
}

.acceptButton {
    border-color: #73f362;
    color: #73f362;
}

.rejectButton {
    border-color: rgb(255, 52, 52);
    color: rgb(255, 52, 52);
}

