.project_list_container {
    position: relative;
    display: flex;
    flex-direction: column;

    align-items: center;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    float: right;
    margin: 0 auto;
}

.project_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: rgb(15, 15, 15);
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-width: 2px;
    width: 50rem;
    height: 5rem;
    margin: 1rem 0;
    border-radius: 10px;  
    cursor: pointer;
}

h1 {
    margin: 2.5rem 0;
    font-size: 3rem;
    color: rgb(106,90,205);
    font-weight: 300;

}

.icon {
    width: 4rem;
    margin: 0.5rem;
    flex: 0 0 auto;
    position: relative;
}

.subicon {
    margin-left: auto;
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
    padding: 0.25rem;
    border-color: rgb(54, 54, 54);
    border-width: 2px;
    border-style: solid;
    border-radius: 5px; 
    transition: 0.5s;
}

.subicon:hover {
    background-color: red;
}

.inviteCard > h2 {
    margin-bottom: 0.25rem;
    margin-left: 0; 
}

h2 {
    color:rgb(106,90,205);
    margin: 0rem 1rem;
}

.projectModal {
    position: fixed;
    width: 40rem;
    height: 40rem;
    top: calc(50% - 20rem);
    left: calc(50% - 20rem);
    background-color: rgb(15, 15, 15);
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.iconContainer {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30%;
    grid-row-gap: 2%;
    justify-items: center;
}

.projectIcon {
    position: relative;
    width: 5rem;
    transition: 0.5s;
    bottom: 0px;
    border-color: rgb(106,90,205);

}

.projectIcon:hover {
    border-bottom-style: solid;
}

.projectIcon > img {
    position: relative;
    transition: 0.25s;
    bottom: 0px;

}

.projectIcon > img:hover {
    bottom: 10px;

}

.selectedCell {
    border-bottom-style: solid;
}

.modalButton {
    margin-top: auto;
    margin-bottom: 1rem;
}

.modalTextarea {
    border-style: none none solid none;
    border-color: black;
    background-color: rgb(15, 15, 15);
    width: 20rem;
    font-size: 1.25rem;
    transition: 0.25s;
    overflow: hidden;
    resize: none;
    margin: auto;
}

.modalTextarea:focus-within {
    border-color: rgb(106, 90, 205);
}

.modalTextarea > textarea {
    all: inherit;
    background: none; 
    border: none; 
    outline: none; 
    width: 100%;
    height: 100%; 
    resize: none; 
}

.exitButton {
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border-style: solid;
    border-color: rgb(54, 54, 54);
    border-width: 2px;
    background-color: inherit;
    transition: 0.5s;
    border-radius: 5px;
}

.exitButton:hover {
  background-color: red;
}


.modalEnter {
    opacity: 0;
}

.modalEnterActive {
    opacity: 1;
    transition: 200ms;
}

.modalExit {
    opacity: 1;
}
.modalExitActive {
    opacity: 0;
    transition: 200ms;
}

.remove {
    background-color: red;
}

.cardEnter {
    opacity: 0;
}
.cardEnterActive {
    opacity: 1;
    transition: 200ms;
}
.cardExit {
    opacity: 1;
    transform: translateX(0);
}
.cardExitActive {
    opacity: 0;
    transform: translateX(10rem);
    transition: 200ms;
}

.menu {
    height: 100%;
    background-color: rgb(15, 15, 15);
    width: 30rem;
    border-color: rgb(54, 54, 54);
    border-right-style: solid;
    border-width: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.menu > button, .menu > .logout > button {
    margin-top: 1rem;
}

.wrapper {
    height: 100%;
    align-items: center;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.inviteMenu {
    border-color: rgb(54, 54, 54);
    border-style: solid;
    border-width: 2px;
    margin-top: 5%;
    height: 95%;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inviteContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 5%;
}

.logout {
    margin-top: auto;
}


.inviteCard {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(54, 54, 54);
    height: 7rem;
    padding: 0 1rem;
    width: 100%;
}

.inviteCard > p {
    color: gray;

}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttonContainer > button {
    cursor: pointer;
    position: relative;
    bottom: -1rem;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    width: 40%;
    height: 2rem;
    transition: 0.25s;
}

.buttonContainer > button:hover {
    bottom: -0.75rem;
}

.acceptButton {
    border-color: #73f362;
    color: #73f362;
}

.rejectButton {
    border-color: rgb(255, 52, 52);
    color: rgb(255, 52, 52);
}

